/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	overflow: hidden;
}

.header-height{
    height: 7vh;
}

.content-height{
    height: 93vh;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(251, 146, 60);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #86aaaf; 
}

/* .content::scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.content::scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.content::scrollbar-thumb
{
	border-radius: 10px;
	background-image: gradient(
        linear,
		left bottom,
		left top,
		color-stop(0.44, rgb(122,153,217)),
		color-stop(0.72, rgb(73,125,189)),
		color-stop(0.86, rgb(28,58,148))
    );
} */

.dropdown:focus-within .dropdown-menu {
	opacity:1;
	transform: translate(0) scale(1);
	visibility: visible;
}

.menu-aside-button:hover > .menu-aside-hidden{
	opacity:1;
	transform: translate(0) scale(1);
	visibility: visible;
}

.menu-aside-button:hover > .menu-hamburguer > div{
	background: rgb(234, 88, 12);
}

.router-link-exact-active{
	background: rgb(234, 88, 12);
}

.menu-aside-button .router-link-active {
	background: rgb(234, 88, 12);
    color: white;
    border: 2px solid rgb(234, 88, 12);
}

